.navbar .active {
    background-color: transparent;
    font-weight: 600;
    border-bottom: 2px solid white;
    border-radius: 0 !important;
}

.navbar a {
    font-size: 1.1rem;
    font-weight: 500;
}

.navbar .brand {
    font-size: 1.5rem;
}